@font-face {font-family: "BelindaW00-Regular";
    src: url("https://db.onlinewebfonts.com/t/f6a8b2423790ec81bbbd18662bbc7f03.eot"); /* IE9*/
    src: url("https://db.onlinewebfonts.com/t/f6a8b2423790ec81bbbd18662bbc7f03.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("https://db.onlinewebfonts.com/t/f6a8b2423790ec81bbbd18662bbc7f03.woff2") format("woff2"), /* chrome firefox */
    url("https://db.onlinewebfonts.com/t/f6a8b2423790ec81bbbd18662bbc7f03.woff") format("woff"), /* chrome firefox */
    url("https://db.onlinewebfonts.com/t/f6a8b2423790ec81bbbd18662bbc7f03.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
    url("https://db.onlinewebfonts.com/t/f6a8b2423790ec81bbbd18662bbc7f03.svg#BelindaW00-Regular") format("svg"); /* iOS 4.1- */
}

h1 {
  margin-top: 100px;
  margin-bottom: 75px;
  font-size: 5em;
  font-family: BelindaW00-Regular;
  text-align: center;
}

.main-image {
  text-align: center;
}

.main-image img {
  max-width: 95%;
}

.footer {
  margin-top: 75px; 
  font-style: italic;
  text-align: center;
  font-family: georgia,palatino,'book antiqua','palatino linotype',serif;
}

.instagram {
  text-align: center;
  margin-top: 50px; 
}

