h1 {
  margin-top: 20%;
  margin-bottom: 100px;
  font-size: 5em;
  font-family: BelindaW00-Regular;
  text-align: center;
}

img {
  max-width: 80%;
  text-align: center;
}

.footer {
  margin-top: 50px; 
  font-style: italic;
  text-align: center;
  font-family: georgia,palatino,'book antiqua','palatino linotype',serif;
}

.instagram {
  text-align: center;
  margin-top: 25px; 
}

